body{
    background-color: #121212;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
h1 {
    color: #00ff88;
    font-size: 50px;
}
p {
font-size: 20px;
color: #cccccc;

}
button{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #00ff88;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    
}